@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

h1{
	text-align: center;
	background-color: salmon;
}



.contentContainer{
	display: flex;
	justify-content: space-between;
}


.containerLeft {
	background-color: turquoise;
	

}

.containerRight {
	background-color: salmon;
	
	
}

blockquote {
	display: block;
	border-width: 2px 0;
	border-style: solid;
	border-color: rgb(12, 12, 12);
	padding: 1.5em 0 0.5em;
	margin: 1.5em 0;
	position: relative;
  }
  blockquote:before {
	content: '\201C';
	position: absolute;
	top: 0em;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(14, 13, 13);
	width: 3rem;
	height: 2rem;
	font: 6em/1.08em 'PT Sans', sans-serif;
	color: #666;
	text-align: center;
  }
  blockquote:after {
	content: "\2013 \2003" attr(cite);
	display: block;
	text-align: right;
	font-size: 0.875em;
	color: #e74c3c;
  }

  .fish__image{
	max-width: 30%;
	height: auto;
	
  }

  .locationCard__landmark{
	max-width: 30%;
	height: auto;
  }

  .fishCard {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 48%;
  }

  button {
	background-color: turquoise;
	border: none;
	color: white;
	padding: 15px 25x;
	text-align: center;
	display: inline-block;
	font-size: 12px;
  }